<!DOCTYPE html>
<html>
<head>
    <title>With Angular Js </title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>

    <script src="Scripts/angular.min.js"></script>

    <script src="Js/app.js"></script>
    <script src="Js/controllers.js"></script>
    <script src="Js/services.js"></script>
    <script type="text/javascript"> </script>
</head>
<body ng-app="demoapp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" height="35" src="Img/Logo.png">
                </a>
            </div>
            <div class="navbar-header navbar-right">
                <a class="navbar-brand">
                    cart summary
                </a>
            </div>
        </div>
    </nav>

    <div class="row" ng-controller="ProductsController">
        <div class="col-md-3" ng-controller="CategoriesController">
            <div class="list-group">
                <a
                   ng-click="getProducts()"
                   ng-class="getCategoryCss()">
                    All Categories
                </a>
                <a ng-repeat="cat in catagories" class="list-group-item"
                   ng-click="getProducts(cat.categoryID)"
                   ng-class="getCategoryCss(cat.categoryID)">
                    {{cat.categoryName}}
                </a>

            </div>
            
            
        </div>
        <div class="col-md-9">
            <div class="col-md-3 col-sm-6" ng-repeat="prd in products">
                <span class="thumbnail">
                    <img ng-src="http://localhost:51601/img/DemoProduct.png" alt="...." />
                    <h4>{{prd.productName}}</h4>
                    <div class="ratings">
                        some rating
                    </div>
                    <p>{{prd.productName}} </p>
                    <hr class="line">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="price">${{prd.unitPrice}}</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button class="btn btn-info right" ng-click="AddProductToCart(prd)">Buy Item</button>
                        </div>

                    </div>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
